.buttons{
    display: grid;
    grid-template-columns: repeat(3, 120px);
}

.btn1{
    position: absolute;
   left: 16px;
   top:16px;
   cursor: pointer;
    
}

.btn2{
    position: absolute;
    left: 168px;
    top:16px;
    cursor: pointer;
}
.btn3{
    position: absolute;
    left: 224px;
    top:16px;
    cursor: pointer;
}

.logo{
    position: absolute;
    width: 89px;
    height: 23px;
    left: 916px;
    top: 25px;
    cursor: pointer;
}

input{
    position: absolute;
    width: 320px;
    height: 40px;
    left: 1475px;
    top: 16px;
    background: #F2F2F2;
    border-radius: 20px;
    
}
.btn_icon1{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1808px;
    top: 16px;
        
    background: #F2F2F2;
    border-radius: 20px ;
}

.btn_icon2{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1864px;
    top: 16px;

    background: #F2F2F2;
    border-radius: 20px;
}

.divider{
    position: absolute;
    width: 1920px;
    height: 0px;
    left: 0px;
    top: 73px;  
    border: 0.5px solid #6965E1;
}

.input_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #6965E1;
}

.round{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 102px;
    top: 2px;
    background: #FFFFFF;
    border-radius: 20px;
    color:#6965E1
    
}
.plus{
    position: absolute;
    width: 12px;
    height: 0px;
    left: 8px;
    top: 14px;
    border: 2px solid #6965E1;
    transform: rotate(-180deg);
}

.plus2{
    position: absolute;
    width: 12px;
    height: 0px;
    left: 8px;
    top: 14px;
    border: 2px solid #6965E1;
    transform: rotate(90deg);
}

.vector1{
    position: absolute;
    left: 8px;
    top: 24px;
}

.vector2{
    position: absolute;
    top:13px;
    left: 14px;
}
    

.vectors15{
    position: absolute;
    width: 16px;
    height: 17px;
    left: 236px;
    top: 28px;
    border: 1.5px solid #FFFFFF;
    border-radius: 2px;
}

.vector16{
    position: absolute;
    left:14px;
    top:12px;
}
.vector17{
    position: absolute;
    left:19px;
    top:12px
}

.elpise3{
    position: absolute;
    right:3px;
    top:3px;
}

.icon{
    position: relative;
    right: 3px;
    top: 2px;
    cursor: pointer;
}

.angletop{
    position: absolute;
    left: 8px;
    top: 10px;
    cursor: pointer;
}

.search{
    position: absolute;
    left: 1765px;
    top:28px;
    cursor: pointer;
    
}

.searchmin{
    position: absolute;
    left: 1780px;
    top: 44px;
    
}

button{
    border-color: #FFFFFF;
    
}

input{
    border-color:#FFFFFF;
}